.list-head{
	margin-top: 40px;
	width: 100%;
	border-top: 1px solid #000;
	padding: 10px 4px 10px 40px;
	color: #008000;
}
.list-head i{
	float: right;
	margin-right: 20px;
	color: #000000;
}
.list-foot div {
	margin-top: 10px;
	text-align: center;
}