*{
	padding: 0;
	margin: 0;
}
.head {
	line-height: 30px;
	background: #D9D9D9;
	padding-left: 40px;
}
.head ul li{
	display: inline-block;
	list-style: none;
	float: left;
	padding: 4px 12px;
}
.head ul li a{
	border-right: 2px solid #666;
	padding-right: 16px;
	color:#000;
}
.content{
	padding:10px 20px;
}
#myTab{
	margin-top: 20px;
	font-size: 14px;
}
.left-search i{
	margin-left: 10px;
	cursor: pointer;
}
.table-title {
	padding: 6px 20px;
	color:#008000
}
.table-title i {
	float: right;
	margin-right: 40px;
	cursor: pointer;
}
#person{
	/* height: 220px;
	overflow-y: scroll;
	overflow-x: hidden; */
}
.left-bar {
	height: 620px;
	border: 1px solid #9d9d9d;
}
.succ {
	margin-top: 40px;
	height: 220px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.right{
	padding: 0 20px;
	height: 620px;
	border: 1px solid #9D9D9D;
}
.right-head{
	line-height: 24px;
	background: #AFD9EE;
}
.right-head ul li{
	display: inline-block;
	list-style: none;
	float: left;
	padding: 2px 10px;
}
.right-head ul li a{
	border-right: 2px solid #666;
	padding-right: 16px;
	font-size: 12px;
	color:#000;
}
.right-info{
	font-weight: bold;
}
.right-info span{
	font-weight: normal;
	margin-right: 10px;
}
.right-table{
	text-align: center;
}