<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.his.dao.tuihaoDao">

    <!-- 身份证读卡-->
    <select id="getRegisterByIdCard" parameterType="string" resultType="register">
        select id,case_no,rname,sex,age,birthday,settle_type,mcard_no,
            medical_type,id_card,address,vist_date,reg_level,dept_no,dr_id,reg_pay,reg_src,diag_state,reg_state
        from t_his_register where id_card = #{idCard}
    </select>

    <!-- 退号-->
    <update id="unRegister" parameterType="string">
        update t_his_register set reg_state = 1 where id = #{registerId}
    </update>

</mapper>